
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap');


/*Estilo de mi aplicacion*/
.App{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;

}

/*Estilo del contendor de mis quotes*/
.quote{
  background: url(./images/bg.jpg);
  background-size:cover;
  width: 450px;
  height: 320px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

/*Estilo de mi texto h1*/
.text{
  font-size: 23px;
  font-family: 'Lobster', cursive;
}
/*Estilo de mi texto h2*/
.author{
  font-size: 1.5em;
  font-family: 'Dancing Script', cursive;
}

/*Estilo de mi button*/
.my-button{
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  background: rgba(255, 192, 55, 0.781);
  font-family: 'Lobster', cursive;
  font-size: 30px;
}